<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>

    <div id="login-overlay" class="modal-dialog modal-lg d-flex justify-content-center">
        <div class="modal-content">

            <div style="padding-top: 10px; padding-left: 10px;">
                <h1 class="modal-title" id="myModalLabel">Register for medical test</h1>
            </div>

            <div style="padding-left: 10px;">
                <p> 
                    The applicant acknowledges and undertakes to commit to make all the medical examinations required
                    to travel to the GCC countries, in addition to any other additional examinations such as COVID-19
                    test or PCR, etc. that may be required by airlines, airport management, or any other party to travel
                    to the GCC countries for which the Council is not responsible in any way.
                </p>
            </div>

            <!-- Name Section -->
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <form class="form-horizontal" role="form">
                        <fieldset>

                            <!-- Form Name -->
                            <legend>Location</legend>


                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <span>Country</span>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" placeholder="Select your country">
                                        <option value="Select your country">Select your country </option>
                                        <option value="1">Bangladesh</option>
                                        <option value="2">India</option>
                                        <option value="3">Soudi</option>
                                        <option value="4">Dubai</option>
                                        <option value="5">Itely</option>
                                        <option value="6">Bahrain</option>
                                        <option value="7">Australia</option>
                                        <option value="8">Belgium</option>
                                        <option value="9">Japan</option>
                                        <option value="10">Malaysia</option>
                                        <option value="11">New Zealand</option>
                                        <option value="12">Russia</option>
                                        <option value="13">Singapore</option>
                                        <option value="14">United Kingdom</option>
                                        <option value="15">America</option>
                                        <option value="16">Spain</option>
                                    </select>
                                </div>

                                <div class="col-sm-5">
                                    <span>City</span>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" placeholder="Select your city">
                                        <option value="Select your city">Select your city </option>
                                        <option value="1">Dhaka</option>
                                        <option value="2">Rajshahi</option>
                                        <option value="3">Gazipur</option>
                                        <option value="4">Pabna</option>
                                        <option value="5">Natore</option>
                                        <option value="6">Chittagong</option>
                                        <option value="7">Khulna</option>
                                        <option value="8 ">Rangpur</option>
                                        <option value="9">Comilla</option>
                                        <option value="10">Mymensingh</option>
                                        <option value="11">Bogra</option>
                                        <option value="12">Sherpur</option>
                                        <option value="13">Lalmonirhat</option>
                                        <option value="14">Narail</option>
                                        <option value="15">Tungi</option>
                                        <option value="16">Barisal</option>
                                    </select>
                                </div>
                            </div>
                            <br />

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <span>Country Traveling To</span>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" placeholder="Select GCC country">
                                        <option value="Select your country">Select GCC country</option>
                                        <option value="1">Bangladesh</option>
                                        <option value="2">India</option>
                                        <option value="3">Soudi</option>
                                        <option value="4">Dubai</option>
                                        <option value="5">Itely</option>
                                        <option value="6">Bahrain</option>
                                        <option value="7">Australia</option>
                                        <option value="8">Belgium</option>
                                        <option value="9">Japan</option>
                                        <option value="10">Malaysia</option>
                                        <option value="11">New Zealand</option>
                                        <option value="12">Russia</option>
                                        <option value="13">Singapore</option>
                                        <option value="14">United Kingdom</option>
                                        <option value="15">America</option>
                                        <option value="16">Spain</option>
                                    </select>
                                </div>

                                
                                <div class="col-sm-5">
                                    <span>Medical Center</span>
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" placeholder="Select your medical">
                                        <option value="Select your medical">Select your medical </option>
                                        <option value="1">Al Hayatt Medical Centre</option>
                                        <option value="2">Al Mubasher Medical Diagnostic Services</option>
                                        <option value="3">Al-Humyra Health Centre Ltd</option>
                                        <option value="4">Allied Diagnostics Ltd</option>
                                        <option value="5">Al-Madina Medical Services</option>
                                        <option value="6">Al-Nahda Medical Centre</option>
                                        <option value="7">Al-Riyadh Medical Check up</option>
                                        <option value="8 ">Arabian Medical Center</option>
                                        <option value="9">Bashundhara Medical Center</option>
                                        <option value="10">Crystal Diagnostic</option>
                                        <option value="11">Dhaka Crown Medical Centre</option>
                                        <option value="12">Fairways Medical Center</option>
                                        <option value="13">Green Crescent Health Services</option>
                                        <option value="14">Gulf Medical Center</option>
                                        <option value="15">Gulshan Medicare - Dhaka</option>
                                        <option value="16">Health Care Center</option>
                                        <option value="17">Ibn Rushd Medical Center</option>
                                        <option value="18">International Health Center</option>
                                        <option value="19">Ishtiyaq Medical Center</option>
                                        <option value="20">Life Diagnostic Center</option>
                                        <option value="21">Medinova Medical Services Ltd</option>
                                        <option value="22">Muscat Medical Center</option>
                                        <option value="23">National Medical Center Limited</option>
                                        <option value="24">Saudi Bangladesh Services Company</option>
                                        <option value="25">Tulip Medical Center</option>
                                        <option value="26">Unique Medical Centre</option>
                                        <option value="27">Standard Medical Centre</option>
                                        <option value="28">The Classic Medical Centre Ltd</option>
                                        <option value="29">Rx Medical Centre</option>
                                        <option value="30">Orbitals Medical Centre Limited</option>

                                    </select>
                                </div>
                            </div>
                            <br />

                            <!-- Address Section -->
                            <!-- Form Name -->
                            <legend>Candidate's information</legend>
                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <span>First Name</span>
                                    <input type="text" name="fistName" placeholder="First name" class="form-control">
                                </div>
                                <div class="col-sm-5">
                                    <span>Last Name</span>
                                    <input type="text" name="lastName" placeholder="Last name" class="form-control">
                                </div>
                            </div>
                            <br />

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <span>Date of Birth</span>
                                    <input type="date" placeholder="Date Of Birth" class="form-control">
                                </div>
                                <div class="col-sm-5">
                                    <span>Nationality</span>
                                    <input type="text" name="nationality" class="form-control">
                                </div>
                            </div>
                            <br />

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <p>Gender</p>
                                    <div class="col-sm-3">
                                      <input type="checkbox" name="Male">male
                                    </div>
                                    <div class="col-sm-3">
                                      <input type="checkbox" name="Female">female
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <p>Marital Status</p>
                                    <div class="col-sm-3">
                                        <input type="checkbox" name="Male">married
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="checkbox" name="Female"> single
                                    </div>
                                </div>

                            </div>
                            <br />

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <span>Email ID</span>
                                    <input type="text" placeholder="Your@mail.com" class="form-control">
                                </div>
                                <div class="col-sm-5">
                                    <span>Phone No</span>
                                    <input type="number" placeholder="put your phone number" class="form-control">
                                </div>
                            </div>
                            <br />

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <span>National ID optional</span>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <br />

                            <!-- Parent/Guadian Contact Section -->
                            <!-- Form Name -->
                            <legend>Legal Information</legend>
                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <span>Passport No</span>
                                    <input type="number" name="pFistName" class="form-control">
                                </div>
                                <div class="col-sm-5">
                                    <span>Confirm Passport No</span>
                                    <input type="number" name="pLastName" class="form-control">
                                </div>
                            </div>
                            <br />

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <span>Passport Issue Date</span>
                                    <input type="date" placeholder="Select date" name="pFistName" class="form-control">
                                </div>
                                <div class="col-sm-5">
                                    <span>Passport Issue Place</span>
                                    <input type="text" name="pLastName" class="form-control">
                                </div>
                            </div>
                            <br />


                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <span>Passport Expiry Date</span>
                                    <input type="date" placeholder="Select date" name="pFistName" class="form-control">
                                </div>
                                <div class="col-sm-5">
                                    <span>Visa Type</span>
                                    <select type="visa" placeholder="Select your visa type" class="form-select form-select-lg mb-3">
                                        <option selected>Select your visa type</option>
                                        <option value="Work Visa">Work Visa</option>
                                        <option value="Family Visa">Family Visa</option>
                                    </select>
                                </div>
                            </div>
                            <br />

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <span>Position Applied For</span>
                                    <input type="text" name="pFistName" class="form-control">
                                </div>
                                <div class="col-sm-5">
                                    <span>Other</span>
                                    <input type="text" name="pLastName" class="form-control">
                                </div>
                            </div>
                            <br />

                            <!-- Text input-->
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-11">
                                        <input type="checkbox" name="alart">I confirm that the information given in this from is true, complete and accurate
                                    </div>
                                </div>
                                <hr />
                            </div>

                            <!-- Command -->
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-1">
                                    <div class="pull-right">
                                        <button type="submit" (click)="clickFunction()" class="btn btn-primary">submit</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        </div>
    </div>
    <script type="text/javascript">
    </script>
</body>
</html>
