<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

  </head>
  <body>
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
      <h3>Sign in here</h3>
      <form #patientForm="ngForm">
          <div class="inputBox"> 
              <input id="uname" type="text" [(ngModel)]="model.userName" name="Username" placeholder="Username"> 
              <input id="pass" type="password" [(ngModel)]="model.passwords" name="Password" placeholder="Password">
          </div> 
          <input type="submit" (click)="clickFunction()" name="login" value="Login">
          <!-- <button type="button" class="btn btn-success" (click)="clickFunction()"> Add</button>     -->

         </form> <a href="#">Forget Password<br> </a>
      <div class="text-center">
          <p style="color: #59238F;">Sign-Up</p>
      </div>
  </div>

  <!-- <div>
    <form #patientForm="ngForm">
      <input id="uname" type="text" [(ngModel)]="model.userName" name="Username" placeholder="Username"> 
      <input id="pass" type="password" [(ngModel)]="model.passwords" name="Password" placeholder="Password"> 
      <button (click)="clickFunction()" class="btn btn-success">Click Me</button>
    </form>
  </div> -->
  </body>
</html>